{{#extends 'base'}}

{{#block 'content'}}
<div class="container">
    <form method="POST">
        <div>
            <label>Title: </label>
            <input type="text" name="title" class="form-control" value="{{title}}">
        </div>
        <div>
            <label>Plot: </label>
            <input type="text" name="plot" class="form-control" value="{{plot}}">
        </div>
        <input type="Submit" class="btn btn-primary mt-3">
    </form>
</div>
{{/block}}

{{/extends}}