{{#extends 'base'}}

{{#block 'content'}}

<div class="container">
    <form method ="POST">
        <input type="checkbox" name="items" value="durian"/><label>Durian ($15.00)</label>
        <input type="checkbox" name="items" value="apple"/><label>Apple ($3.00)</label>
        <input type="checkbox" name="items" value="orange"/><label>Orange ($6.00)</label>
        <input type="checkbox" name="items" value="banana"/><label>Banana ($4.00)</label>
        <input type="submit">
    </form>
    
</div>


{{/block}}

{{/extends}}