{{#extends 'base'}}

{{#block 'content'}}
<div class="container">
    <h2>ADMIN PAGE</h2>
    <p>
        This page should only be accessed by the management team. Do not access this page unauthorized, 
        doing so might result in disciplinary action and revocation of privileges.
    </p>
</div>
{{/block}}

{{/extends}}