{{#extends 'base'}}

{{#block 'content'}}
<div class="container">
    <h2>Fault Reporting Form</h2>
    <img src="/howl.jpg">
    <input type="textarea">
    <button>Submit!</button>
</div>
{{/block}}

{{/extends}}