{{#extends 'base'}}

{{#block 'content'}}
<div class="container">
    <h1>Management Corporation Strata Title Plan No 2433 Fault Reporting</h1>

<p>Dear residents of MCST 2433, if you are experiencing any issues with your unit or any facilities, 
    please fill in the form on the fault page above. Our management team prides itself on providing the best service and care
    for our residents</p>

</div>
{{/block}}

{{/extends}}